@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap";

// mixins
@mixin flex-template($justify-content, $flex-direction: row) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: center;
  justify-content: $justify-content;
}

@mixin navbar-item($background-color, $font-color) {
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  background-color: $background-color;
  color: $font-color;
  cursor: pointer;
}

$primary-font-family: "Roboto", sans-serif;

body {
  font-family: $primary-font-family;
}

#navbar-section {
  #logo {
    font-weight: 400;
  }

  @include flex-template(space-around);

  height: 50px;
  background-color: rgb(255 255 255);
  box-shadow: 0 15px 10px -5px rgb(177 177 177);
  font-size: 0.7rem;
  letter-spacing: 3px;

  div {
    @include flex-template(space-between);

    width: 150px;
    height: 100%;
    background-color: blue;

    h2 {
      @include navbar-item(white, black);

      font-weight: 400;
    }
  }
}

#background-color-container {
  @include flex-template(center, column);

  height: calc(100vh - 50px);
  box-sizing: border-box;
  letter-spacing: 3px;

  h3 {
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: 700;

    @media only screen and (max-width: 600px) {
      font-size: 1.5rem;
    }

    @media only screen and (min-width: 600px) {
      font-size: 2rem;
    }

    @media only screen and (min-width: 768px) {
      font-size: 3rem;
    }

    @media only screen and (min-width: 992px) {
      font-size: 4rem;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 5rem;
    }
  }

  button {
    padding: 0.8rem 1.5rem;
    border: 2px solid black;
    border-radius: 0.8rem;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: 0.6s;
  }

  button:hover {
    background-color: black;
    color: white;
  }
}

